<div class='my-card'>
    <div class='card-header'>
        <img src='{{imageUrl}}' />
    </div>
    <div class='card-body'>
        <span class='tag tag-teal'>Species: {{species}}</span>
        <h4>
            Name:
            {{name}}
        </h4>
        <div class='user'>
            <div class='user-info'>
                <h5>Author: {{owner.email}}</h5>
                <small>Rating of votes: {{votes.length}}</small>
                <a href='/details/{{_id}}' class='details_btn'>Details</a>

            </div>
        </div>
    </div>
</div>