<main>
    <form action='/editCat/{{data.id}}' method='post' class='cat-form'>
        <h2>Edit Cat</h2>
        <label for='name'>Name</label>
        <input type='text' id='name' name='name' value='{{data.name}}' />
        <label for='description'>Description</label>
        <textarea id='description' name='description'>{{data.description}}</textarea>
        <label for='image'>Image</label>
        <input type='text' id='image' value='{{data.image}}' name='image' />
        <label for='group'>Breed</label>
        <select id='group' name='breed'>
            {{#each breed}}
                <option value='{{breed}}'>{{breed}}</option>
            {{/each}}
        </select>
        <button>Edit Cat</button>
    </form>
</main>