<header>
    <form action='/search'>
        <input type='text' />
        <button type='button'>Search</button>
    </form>
</header>
<main>
    <section class='cats'>
        <ul>
            {{#each data}}
                <li>
                    <img src='{{image}}' alt='Black Cat' />
                    <h3></h3>
                    <p><span>Breed: </span>{{breed}}</p>
                    <p><span>Description: </span>{{description}}</p>
                    <ul class='buttons'>
                        <li class='btn edit'><a href='/editCat/{{id}}'>Change Info</a></li>
                        <li class='btn delete'><a href='/shelterCat/{{id}}'>New Home</a></li>
                    </ul>
                </li>
            {{/each}}
        </ul>
    </section>
</main>