<main class='details'>
    <!-- Details page -->
    <section id='details'>
        <div id='details-wrapper'>
            <p id='details-title'>Name: {{name}}</p>
            <div id='img-wrapper'>
                <img src='{{imageUrl}}' />
            </div>
            <div id='info-wrapper'>
                <table>
                    <tr>
                        <td>
                            <p>
                                Years:
                                <span id='details-years'>{{years}}</span>
                            </p>
                        </td>
                        <td>
                            <p>Kind: <span id='details-kind'>{{kind}}</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Need of: <span id='details-need'>{{needs}}</span></p>
                        </td>
                        <td>
                            <p>Location: <span id='details-location'>{{location}}</span></p>
                        </td>
                    </tr>
                </table>
                <p>Description:
                    <span id='details-description'>{{description}}</span></p>
            </div>

            <!--Edit and Delete are only for creator-->
            <div id='action-buttons'>
                {{#if isOwner}}
                    <a href='#' id='edit-btn'>Edit</a>
                    <a href='#' id='delete-btn'>Delete</a>
                {{else}}
                    {{#if user}}
                        {{#if canDonate}}
                            <a href='/donate/{{_id}}' id='donation-btn'>Donation</a>
                        {{else}}
                            <p id='already-donated'>You already donated!</p>
                        {{/if}}
                    {{/if}}
                {{/if}}
            </div>
        </div>
    </section>
</main>